@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --main-color: #0a0a0a;
    --secondary-color: #202020;
    --text-color: #f4f4f4;
    --text-light-color: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    background-image: url(../img/grain.gif);
    background-repeat: repeat;
    opacity: .09;
    pointer-events: none;
}

body {
    position: relative;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: black;
    color: var(--text-color);
    margin: 0;
    padding: 0;

    background: linear-gradient(45deg, #0a0a0a, #0c0c0c, #420101);
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ESTILOS WEB JZIK */

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-bottom: 20px; /* Ajusta el margen inferior para espaciar el logo y el contador */
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
}

.dynamic-container {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--text-light-color);
}

#dynamic-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--text-light-color);
    display: inline;
}

#countdown {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Ajusta el espacio entre los bloques */
}

#countdown span {
    display: inline-block;
    width: 4rem; /* Ajusta este valor para que todos los números ocupen el mismo ancho */
    text-align: center;
}
