@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --main-color: #0a0a0a;
    --secondary-color: #202020;
    --text-color: #f4f4f4;
    --text-light-color: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    background-image: url(../img/grain.gif);
    background-repeat: repeat;
    opacity: .09;
    pointer-events: none;
}

body {
    position: relative;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: black;
    color: var(--text-color);
    margin: 0;
    padding: 0;

    background: linear-gradient(45deg, #0a0a0a, #0c0c0c, #420101);
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;

    

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ESTILOS WEB JZIK */

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -9999;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.4;
}


.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;

    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); /* Añade sombra al texto */
}

.logo {
    width: 250px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-bottom: -10px; /* Ajusta el margen inferior para espaciar el logo y el contador */
    margin-top: -100px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: var(--text-light-color);
}

.dynamic-container {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#dynamic-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: inline;
}

#countdown {
    font-size: 3rem;

    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Ajusta el espacio entre los bloques */
}

#countdown span {
    display: inline-block;
    width: 4rem; /* Ajusta este valor para que todos los números ocupen el mismo ancho */
    text-align: center;
}

.fecha{

    color: var(--text-light-color);
}


@keyframes glitch {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    5% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    10% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    15% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    20% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    25% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    30% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    35% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    40% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    45% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    50% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    55% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    60% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    65% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    70% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    75% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    80% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    85% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
    90% {
        clip: rect(16px, 9999px, 79px, 0);
        transform: skew(0.08deg);
    }
    95% {
        clip: rect(36px, 9999px, 86px, 0);
        transform: skew(0.08deg);
    }
    100% {
        clip: rect(42px, 9999px, 44px, 0);
        transform: skew(0.08deg);
    }
}

#countdown span {
    display: inline-block;
    width: 4rem;
    text-align: center;
    position: relative;
}

#countdown span:before,
#countdown span:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#countdown span:before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation: glitch 1s infinite;
    clip: rect(0, 900px, 0, 0);
}

#countdown span:after {
    left: -2px;
    text-shadow: -2px 0 blue;
    animation: glitch 2s infinite;
    clip: rect(0, 900px, 0, 0);
}
